/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import 'tailwindcss';

:root {
        --color-terracotta: hsl(15, 74%, 41%);
        --color-sun:hsl(45, 100%, 74%);
        --color-blue: hsl(230, 49%, 56%);
        --color-rose: hsl(340, 48%, 52%);
        --color-black: hsl(33, 22%, 20%);
        --color-brown: hsl(33, 17%, 41%);
        --color-yellow: hsl(44, 84%, 75%);
        --color-white: hsl(35, 60%, 96%);
        --font-fraunces: "Fraunces", serif;
        --font-mono: "DM Mono", monospace;
}

/* Fallback utility in case Tailwind's fontFamily isn't configured */
.font-fraunces {
    font-family: var(--font-fraunces);
    font-optical-sizing: auto;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.font-mono {
    font-family: "DM Mono", monospace;
    font-style: normal;
}

html,
body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}
