/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
    --color-terracotta: hsl(15, 74%, 41%);
    --color-black: hsl(33, 22%, 20%);
    --color-brown: hsl(33, 17%, 41%);
    --color-white: hsl(35, 60%, 96%);
}